/* колір основного тексту       #212121 */
/* колір другорядного тексту    #757575 */
/* лого     чорний              #000000 
            синій               #2196F3 */

/* ховер синій                  #2196F3 */
/* сірий майл тел               rgba(255, 255, 255, 0.6) */
/* білий                        #FFFFFF */

/* фон основний             #FFFFFF */
/* фон другорядний          #F5F4FA */
/* фон герой та футер       #2F303A */

:root {
    --primary-text-color: #212121;
    --secondary-text-color: #757575;
    --accent-color: #2196F3;
    --logo-black-color: #000;
    --mail-tel-color: rgba(255, 255, 255, 0.6);
    --text-white-color: #FFFFFF;
    --primary-background-color: #FFFFFF;
    --secondary-background-color: #F5F4FA;
    --hero-footer-background-color: #2F303A;
    --button-hover-color: #188CE8;
}
.page {
    background-color: var(--primary-background-color);
    color: var(--primary-text-color);
}
.logo {
    color: var(--logo-black-color);
    text-decoration: none;
}
.logo-web {
    color: var(--accent-color);
}
.list {
    list-style: none;
}

/* навігація */

.site-nav .link {
    color: var(--primary-text-color);
    text-decoration: none;
}
.contacts-nav .link{
    color: var(--secondary-text-color);
    text-decoration: none;
}
.header .link:hover, 
.header .link:focus {
    color: var(--accent-color);
}
.site-nav .link.current {
    color: var(--accent-color);
}

/* main */
/* герой */

.button {
    border: none;
    border-radius: 4px;
    padding: 10px 32px;
    color: var(--text-white-color);
    background-color: var(--accent-color);
}

.button:hover {
    background-color: var(--button-hover-color);
}

/* Наша команда */

.section-p {
    color: var(--secondary-text-color);
}

/* Футер */
.footer .logo-studio {
    color: var(--text-white-color);
}

.footer .link {
    color: var(--secondary-text-color);
    text-decoration: none;
}

.footer .location {
    color: var(--text-white-color);
}

.footer .link:hover,
.footer .link:focus,
.footer .location:hover, 
.footer .location:focus{
    color: var(--accent-color);
}